# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# Virtual environment
.venv/
env/
venv/

# IDEs / Editor configs
.vscode/
.idea/

# Django / DB
/db.sqlite3
/*.sqlite3
/*.db
/db.sqlite3-journal

# Media / Static
/media/
static/

# OS
.DS_Store
Thumbs.db
